<div class= "row">
  <div class="col-md-8">
    <div class="drop_but"> 
      <form action="#" class="dropzone dz-clickable drop margin-bottom">
        <div class="fallback" id="dropZoneId">
          <input name="file" type="file" multiple />
        </div>
      </form>
      <hr class="style-eight"/>
      <form action="#">
        <input type="text" class="input-url" placeholder="Insert an URL"><br>
      </form>
    <button type="button">validate</button>
    </div>
  </div>
   {% include documentation.html %}
</div>

<script>
	var myDropzone = new window.Dropzone("div#dropZoneId", { url: "/file/post"});
	document.onload = draganddrop();
</script>